/*  ----------------CSS COMUNES-------------------- */

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    background-image: url("img/coin.png");
}

h1 {
    color: #f2681e;
}

h2 {
    text-align: center;
}

#indice_lateral_contenidos {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
    background-color: #f1b493;
    border-radius: 25px;
    height: fit-content;
    padding-left: 0.9em;
}

#indice_inicio {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #e4e3c1;
    border-radius: 25px;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

footer {
    text-align: center;
    color: gray;
}

#main_p {
    text-align: center;
}

#titulo_noticia {
    text-align: center;
    background-color: #fcfc50;
}

#linea_autor {
    text-align: right;
    padding-right: 15em;
    font-style: italic;
    font-weight: bold;
    color: gray;
    font-size: large;
}

#nom_autor {
    color: #f2371e;
}

#parrafadita {
    padding-left: 3em;
    padding-right: 8em;
}


/*  ----------------PÁGINA INICIAL ONLY-------------------- */

#naranjito {
    color: #f2681e;
}

#azulete {
    color: blue;
}

#bitcoinero {
    font-weight: bold;
}

#disfrute {
    text-align: center;
}

#estafita {
    text-align: center;
    background-color: #74dea0;
    border-radius: 25px;
    height: fit-content;
    padding-bottom: 1em;
    padding-top: 0.75em;
}

#indice_contenidos {
    text-align: left;
    background-color: #f1b493;
    border-radius: 25px;
    height: fit-content;
    padding-bottom: 1em;
    padding-top: 0.75em;
}

#presentando {
    text-align: center;
}

#articulos {
    padding-left: 40em;
}

#parrafadita_inicial {
    padding-left: 20em;
    padding-right: 20em;
    font-size: 17px;
}

#letra_pequeña {
    font-size: 10px;
    padding-left: 15em;
    font-style: oblique;
}

#asterisco_peque {
    font-size: 12px;
    color: blue;
}

#numero_incautos {
    font-weight: bold;
}


/*  ----------------SIMULADOR ONLY-------------------- */

#peligro {
    color: #fe0c0c;
    font-weight: bolder;
}


/*  ----------------ELON MUSK ONLY-------------------- */

.cuerpo_noticia {
    display: grid;
    grid-template-columns: 1.8fr 0.9fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

#foto {
    padding-top: 8em;
}


/*  ----------------GURUS ONLY-------------------- */

.cuerpo_noticia2 {
    display: grid;
    grid-template-columns: 0.7fr 1.8fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

#foto_bezos {
    padding-left: 3em;
}

#parrafadita2 {
    padding-left: 3em;
    padding-right: 8em;
    padding-top: 3em;
}


/*  ----------------SITIOS ONLY-------------------- */

#cursivo {
    font-style: italic;
}

.top_lugares {
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: auto, 1fr;
    grid-gap: 10px;
}

#parrafadita3 {
    padding-left: 3em;
    padding-right: 8em;
    padding-top: 2em;
}